streamlit
pandas
psycopg2-binary
torch
transformers
huggingface-hub
matplotlib
seaborn
scikit-learn
numpy
pdfminer.six
python-docx
requests
mplcyberpunk
streamlit-aggrid
google-auth-oauthlib
google-auth-httplib2
google-api-python-client